@import 'vars.styl'

/* ========= Header Desk  ========= */
header
	nav
		padding 2rem 0
		
		ul
			li
				padding 0 2.5rem 0 0
				
				a
					font-size 1.4rem
					



	

/* ========= Bloque Destacada  ========= */

.bloque-destacada
	height 450px
	
	.des-destacada
		border-radius 4px
				
	.flecha
		bottom 40px
	

/* ========= Bloque Destacada Inicio  ========= */

.inicio-bloque-destacada
	height 450px
			

/* ========= Thumbnail  ========= */

.cont-thumbnail

	.thumbnail
			
		h2
			font-size 2.4rem
			line-height 1.2
			
		p
			font-size 3rem
			

/* ========= Preguntas Antes de Contratar  ========= */

.ubicacion

	.ubicacion-mapa
		height 46rem