@import 'vars.styl'


/* ========= Generales  ========= */
html
	font-size 10px
	
body
	color charcoal-grey
	font-family varela
	font-weight 300

a
	color blue-blue	
	transition(all .2s ease-in-out)

a:hover
	color charcoal-grey
	text-decoration none


/* ========= Header Mobile  ========= */
#header-mobile
	background marine-blue
	width 100%
	
	.logo
		padding 1.2rem 0

	.menu-trigger
		padding 1.8rem 0
		text-align right
		
	nav
		background charcoal-grey
		display none
		
		ul
			margin 0
			padding 0
			
			li
				list-style none
				
				a
					color white
					display block
					font-size 1.4rem
					padding 1.2rem
					

/* ========= Header Desk  ========= */
#mini-bar
	display none
			
header
	display none
			
		
/* ========= Footer  ========= */
footer
	background charcoal-grey
	color #fff
	padding 2.5rem 0
	text-align center
	width 100%
	
	.address
		display block
		font-size 1.2rem
		margin 0 auto
		padding 1rem 0 0 0
		width 22rem

	.address-plus
		display block
		font-size 1rem
		margin 0 auto
		padding 1rem 0 0 0
		width 29rem