@import 'vars.styl'

/* ========= Header Mobile  ========= */
#header-mobile
	display none


/* ========= Header Desk  ========= */
#mini-bar
	background marine-blue
	display block
	color white
	font-size 1.2rem
	padding 1.5rem 0
	
	.redes-sociales
		text-align right
		
		span
			display inline-block
			margin-right 1.5rem
			
		a
			margin 0.5rem
			transition(all .2s ease-in-out)
			
			&:hover
				opacity .5
			
header
	display block
	padding 2rem 0
	
	nav
		padding 1.1rem 0
		text-align right
		
		ul
			margin 0
			padding 0
			
			li
				display inline-block
				padding 0 2rem 0 0
				
				a
					color blue-blue
					font-size 1.1rem
					
			li:last-child
				padding 0
				
/* ========= Bloque Destacada  ========= */

.bloque-destacada
	height 300px
	
	.des-destacada
		top 60%
		transform(translateY(-40%))
		border-radius 4px
				
	.flecha
		bottom 10px
	

/* ========= Bloque Destacada Inicio  ========= */

.inicio-bloque-destacada
	height 300px

	.des-destacada
			
		h1
			font-size 3.6rem
			
/* ========= Secciones  ========= */

.secciones
	min-height 40rem
	margin auto
	margin-top 15px
	padding-top 80px
	text-align right
	background salmon
	
	h2
		text-align right
		
	p
		font-size 1.8rem
		text-align right
		
		span
			width 70%
			display inline-block
		
	a
		margin-bottom 0rem
		display inline-block
		
#seccion-1
	background url(http://dev04.iceberg9.com/wp-content/themes/polibodegas/assets/images/graphic-01.svg) no-repeat left center
		
#seccion-2
	text-align left
	background url(http://dev04.iceberg9.com/wp-content/themes/polibodegas/assets/images/graphic-02.svg) no-repeat right center
	
	h2
		text-align left
		
	p
		text-align left
		
		span
			width 70%
			display inline-block
		
	a
		display inline-block
		
#seccion-3
	background url(http://dev04.iceberg9.com/wp-content/themes/polibodegas/assets/images/graphic-03.svg) no-repeat left center
			

/* ========= Thumbnail  ========= */

.cont-thumbnail
	margin-top 5rem

	.thumbnail
		margin-top 0rem
				

/* ========= Preguntas Antes de Contratar  ========= */

.preguntas-frecuentes

	.pregunta-texto
		padding-left 4rem

		.pregunta-respuesta
			margin-left 4rem
			

/* ========= Preguntas Antes de Contratar  ========= */

.ubicacion

	.ubicacion-mapa
		height 36rem
			


/* ========= Contacto  ========= */

.contacto
			
	.contacto-formulario
		margin-top 0

/* ========= Footer  ========= */

.footer-consulta
	
	h2
		font-size 2.8rem