@import 'vars.styl'

/* ========= Header Mobile  ========= */
#header-mobile
	display none


/* ========= Header Desk  ========= */
#mini-bar
	background marine-blue
	display block
	color white
	font-size 1.2rem
	padding 1.5rem 0
	
	.redes-sociales
		text-align right
		
		span
			display inline-block
			margin-right 1.5rem
			
		a
			margin 0.5rem
			transition(all .2s ease-in-out)
			
			&:hover
				opacity .5
			
header
	display block
	padding 2rem 0
	
	nav
		padding 1.1rem 0
		text-align right
		
		ul
			margin 0
			padding 0
			
			li
				display inline-block
				padding 0 2rem 0 0
				
				a
					color blue-blue
					font-size 1.1rem
					
			li:last-child
				padding 0