varela = 'Varela Round', sans-serif;


marine-blue = #00287a
white = #ffffff
warm-grey = #767676
pale-grey = #f1f2f3
blue-blue = #2963db
charcoal-grey = #3e4349
black-dirty = #232323


pinterest = #d7131c
pinterest-hover = #e52a33
facebook = #294c94
facebook-hover = #3b65b9
twitter = #5fabfd
twitter-hover = #5BC2FF
whatsapp = #03b137
whatsapp-hover = #0bd246

// Funciones para efectos y propiedades CSS3

border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments

transition()
	-webkit-transition:arguments
	-moz-transition:arguments
	-o-transition:arguments
	-ms-transition:arguments
	transition:arguments
	
box-sizing()
	-webkit-box-sizing: arguments;
	-moz-box-sizing: arguments;
	box-sizing: arguments; 
	
text-shadow()
	text-shadow: arguments;
	
box-shadow()
	-webkit-box-shadow: arguments;
	box-shadow: arguments;
